{% extends 'base.html.twig' %}

{% block title %}Stray{% endblock %}

{% block body %}
    <main style="padding: 2rem; font-family: Arial, sans-serif;">
        <h1>{{ app_name }}</h1>
        <p>{{ tagline }}</p>
    </main>
{% endblock %}
